// typography settings
$blueprint-font-family: "myriad-pro-1","myriad-pro-2", sans-serif;
//$blueprint-font-family: "museo-sans-1","museo-sans-2";
$alternate-text-font: "bistro-script-web-1","bistro-script-web-2",cursive;
$blueprint-fixed-font-family: "Inconsolata", monospace;
$blueprint-font-size: 16px;

// blueprint liquid grid settings
$blueprint-liquid-container-width: 90%;
$blueprint-liquid-container-min-width: 200px;

// import blueprint mixins
@import "blueprint";
@import "blueprint/debug";
@import "blueprint/liquid";
@import "blueprint/fancy-type";

// reset
@import "blueprint/reset";

