@import "base";

@import "compass/utilities/lists/horizontal-list";

// additional reset for HTML5 elements
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  @include blueprint-reset;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display:block;
}

#nav > ul {
  @include no-bullets;
  padding-left: 0em;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  //@include fancy-type;

  background: #EEE;
  ul, ol {
    padding-left: 1.5em;
  }
  kbd {
    @include fixed-width-text;
  }
}

#{headers(all)} {
  clear: both;
}

#wrapper {
  @include container;
  //@include showgrid;

  // this should keep our actual content under 50em wide or so
  max-width: 100em;
  background: #FFF;

  padding: 0 10px;
  background-position: 10px 0;
}

.site-description > em {
  font-size: 70%;
  font-family: $alternate-text-font;
}

#nav {
  $content-columns: (3 / 24 * $blueprint-liquid-grid-columns);
  @include column($content-columns);
}

#container {
  $content-columns: (12 / 24 * $blueprint-liquid-grid-columns);
  @include column($content-columns);
}

.sidebar {
  $sidebar-columns: (9 / 24 * $blueprint-liquid-grid-columns);
  // true means it is the last column in the row
  @include column($sidebar-columns, true);
}

.alignleft, .alignright, .aligncenter {
  margin-bottom: 1.5em;
}
.alignleft, img.alignleft {
  margin-top: 4px;
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright, img.alignright {
  margin-top: 4px;
  display:inline;
  float: right;
  margin-left: 1em;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  text-align: center;
}

.entry-title {
  margin-bottom: 0;
}
.entry-meta {
  margin-bottom: 1.5em;
}
.hentry + .hentry {
  margin-top: 3em;
}

#main form {
  @include blueprint-form;

  textarea {
    max-width: 95%;
  }
  input {
    &.text,
    &.title,
    &[type=email],
    &[type=text],
    &[type=password] { max-width: 90%; }
  }
}

.skip-links { display: none; }

.nav-previous {
  float: left;
}
.nav-next {
  float: right;
}

.post {
  clear: both;
}

.avatar {
  height: 2.5em;
  width: auto;
  margin: 0.2em 0;
  vertical-align: text-bottom;
}

#comments{
  margin-top: 1.5em;
}
#reply-title {
  line-height: 2;
  margin-bottom: 0;
}
#comment {
  height: 12em;
  margin: 0.3em;
  display: block;
}

#footer {
  clear: both;
  text-align: center;
}

#content {
  img {
    vertical-align: baseline;
  }

  table {
    border: 1px solid #E7E7E7;
  }

  tr td {
    border-top: 1px solid #E7E7E7;
  }
}


/* sidebar */
.sidebar > section {
  float: left;
  width: 40%;
  margin: 0 5%;
  padding-bottom: 3.5em;

  ul {
    margin-bottom: 0;
  }
}
.sidebar > section:last-child {
  margin-right: 0;
}

/* Responsive Layout */
@media screen and (max-width: 1200px) {
  #nav {
    $content-columns: (3.5 / 24 * $blueprint-liquid-grid-columns);
    @include column($content-columns);
  }

  #container {
    $content-columns: (13.5 / 24 * $blueprint-liquid-grid-columns);
    @include column($content-columns);
  }

  .sidebar {
    $sidebar-columns: (7 / 24 * $blueprint-liquid-grid-columns);
    // true means it is the last column in the row
    @include column($sidebar-columns, true);
    @include push(0.5);
  }

  .sidebar > section {
    width: 95%;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  #nav {
    $content-columns: (2 / 10 * $blueprint-liquid-grid-columns);
    @include column($content-columns);
  }

  #container {
    $content-columns: (8 / 10 * $blueprint-liquid-grid-columns);
    @include column($content-columns, true);
  }

  .sidebar {
    $content-columns: (8 / 10 * $blueprint-liquid-grid-columns);
    @include column($content-columns, true);
    @include pull(-4);
  }

  .sidebar > section {
    width: 50%;
    float: left;
  }

  #main form textarea {
    height: 8em;
    max-width: 97%;
  }
}

@media screen and (max-width: 650px) {
  #wrapper {
    width: auto;
  }

  #header {
    text-align: center;
    .site-description { display: none; }
  }

  #nav, #container, .sidebar {
    $content-columns: $blueprint-liquid-grid-columns;
    @include column($content-columns);
    margin: 0;
  }

  #nav > ul {
    @include horizontal-list;
    text-align: center;
    // float is unnecessary really, and interferes with centering the text
    li { float: none; }
  }
}

@media screen and (max-width: 500px) {
  .sidebar > section {
    width: auto;
    float: none;
  }
}
