@import "base";

@import "compass/utilities/lists/horizontal-list";

// additional reset for HTML5 elements
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  @include blueprint-reset;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display:block;
}

#nav > ul {
  @include no-bullets;
  padding-left: 0em;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

#wrapper {
  @include container;
  //@include showgrid;

  padding: 0 10px;
  background-position: 10px 0;
}

.site-description > em {
  font-size: 130%;
}

#nav {
  $content-columns: floor(2 / 24 * $blueprint-liquid-grid-columns);
  @include column($content-columns);
}

#container {
  $content-columns: ceil(14 / 24 * $blueprint-liquid-grid-columns);
  @include column($content-columns);
}

.sidebar {
  $sidebar-columns: floor(8 / 24 * $blueprint-liquid-grid-columns);
  // true means it is the last column in the row
  @include column($sidebar-columns, true);
  @include push(0);
}

#main form {
  @include blueprint-form;

  textarea {
    max-width: 95%;
  }
}

.skip-links { display: none; }

.nav-previous {
  float: left;
}
.nav-next {
  float: right;
}

.post {
  clear: both;
}

.avatar {
  height: 2.5em;
  width: auto;
  margin: 0.2em 0;
  vertical-align: text-bottom;
}

#comment {
  height: 12em;
  margin: 0.3em;
  display: block;
}

#footer {
  clear: both;
}

#container img {
  vertical-align: middle;
}

code {
  /* todo */
  font: 1.0em/1.4 "Inconsolata";
}

/* sidebar */
.sidebar > section {
  float: left;
  width: 50%;
  padding-bottom: 1.5em;

  ul {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1400px) {
  #nav {
    $content-columns: floor(1.5 / 12 * $blueprint-liquid-grid-columns);
    @include column($content-columns);
  }

  #container {
    $content-columns: ceil(7 / 12 * $blueprint-liquid-grid-columns);
    @include column($content-columns);
  }

  .sidebar {
    $sidebar-columns: floor(3.5 / 12 * $blueprint-liquid-grid-columns);
    // true means it is the last column in the row
    @include column($sidebar-columns, true);
    @include push(0.5);
  }

  .sidebar > section {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  #wrapper {
    width: 95%;
  }

  #nav {
    $content-columns: floor(2 / 10 * $blueprint-liquid-grid-columns);
    @include column($content-columns);
  }

  #container {
    $content-columns: ceil(8 / 10 * $blueprint-liquid-grid-columns);
    @include column($content-columns, true);
  }

  .sidebar {
    $content-columns: ceil(8 / 10 * $blueprint-liquid-grid-columns);
    @include column($content-columns, true);
    @include pull(-4);
  }

  .sidebar > section {
    width: 50%;
    float: left;
  }

  #main form textarea {
    height: 8em;
    max-width: 97%;
  }
}

@media screen and (max-width: 650px) {
  #header {
    text-align: center;
    .site-description { display: none; }
  }

  #nav, #container, .sidebar {
    $content-columns: $blueprint-liquid-grid-columns;
    @include column($content-columns);
    margin: 0;
  }

  #nav > ul {
    @include horizontal-list;
    text-align: center;
    // float is unnecessary really, and interferes with centering the text
    li { float: none; }
  }
}

@media screen and (max-width: 500px) {
  .sidebar > section {
    width: auto;
    float: none;
  }
}
