# server logs
log

# mysql backups
tools/mysql/var/

# wordpress
wp-local-config.php
public/wordpress-content/cache
public/wordpress-content/advanced-cache.php
public/wordpress-content/wp-cache-config.php
public/sitemap.xml

public/wedding/lib/local.php

.sass-cache
.svn
