[submodule "public/wordpress-content/themes/pdx"]
	path = public/wordpress-content/themes/pdx
	url = https://github.com/willnorris/pdx-theme.git
[submodule "public/wordpress-content/plugins/hum"]
	path = public/wordpress-content/plugins/hum
	url = git@github.com:willnorris/wordpress-hum.git
[submodule "public/wordpress-content/plugins/openid"]
	path = public/wordpress-content/plugins/openid
	url = git@github.com:diso/wordpress-openid.git
