/** iPhone stylesheet */

body, html > body { background: transparent; }

#wrapper { max-width: 100%; }
#header { border: 0; border-top: 4px solid #AE0B35; }

#blog-title { margin: 0 0.3em 0.2em; }

#access { padding: 4px 0; }
.menu { margin: 0; position: static; left; 0; }

.menu ul { margin-left: 0.5em; }
.menu ul li a { padding: 0 1.5em 0 0; }


#container { border: 0; }
#content, body.home #content { width: auto; float: none; padding: 0.5em; }

.entry-title { font-size: 1.5em; font-weight: bold; margin: 0; }

.navigation { margin: 0; padding: 0; }
.nav-previous, .nav-next { float: none; }


.aside, body.home .aside { margin: 0.5em; width: auto; }

.widget_thematic_meta { position: absolute: top 0; right: 0; padding: 0; margin: 0; }
.widget_thematic_meta ul li a { padding: 0 0.5em 0 0; line-height: 2.2em; }
.widget_thematic_meta li { float: right; clear: right; }



body.home #search	{ display: none; }
body.home #primary	{ margin: 0; }
body.home #front-asides { float: none; width: 100%; }
