@import "colors";

// == Typography ==
$blueprint-font-family: "Open Sans", sans-serif;
$alternate-text-font: "Alice", serif;
$blueprint-fixed-font-family: "Inconsolata", monospace;
$blueprint-font-size: 16px;

// == Color ==
$font-color: $base00;
$quiet-color: $base0;
$loud-color: $base01;
$header-color: $base02;

$link-color: $blue;
//$link-hover-color: $cyan;
$link-active-color: $magenta;
$link-visited-color: $blue;
//$link-visited-color: $violet;

// == Blueprint liquid grid ===
//$blueprint-liquid-container-width: 90%;
//$blueprint-liquid-container-min-width: 200px;

