@import "blueprint";
@import "blueprint/debug";
@import "blueprint/fancy-type";
@import "compass/css3/transition";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";

@import "config";
@import "colors";

@import url('//fonts.googleapis.com/css?family=Alice|Inconsolata|Open+Sans');

// reset
@import "blueprint/reset";

// additional reset for HTML5 elements
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  @include blueprint-basic-reset;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display:block;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;

  background: $base3;

  // debug grid
  &.showgrid {
    $show-column-grid-backgrounds: false;
    $grid-background-baseline-color: rgba(0, 0, 0, 0.1);
    @include showgrid();
  }

  ul, ol {
    padding-left: 1.5em;
  }

  kbd {
    @include fixed-width-text;
  }
}


#{headers(all)} {
  font-family: "Alice";
  clear: both;
}

.assistive-text { display: none; }

#header, #footer {
  background: $base03;
  color: $base3;
  font-family: "Alice";
  line-height: 3em;
  padding: 0 1em;
}

.site-title {
  font-size: 1.0em;
  margin-bottom: 0;
  display: inline;

  > a {
    text-decoration: none;
    color: $base3;
    &:visited {
      color: $base3;
    }
  }
}

.site-description {
  color: $base1;
  display: none;
  font-size: 1em;
  margin-bottom: 1.25em;
}

#footer {
  line-height: 2em;
  text-align: center;

  #copyright {
    color: $base1;
  }
}

#nav {
  clear: both;
  margin-bottom: 1.5em;

  > ul {
    @include horizontal-list;
    //text-align: center;
    // float is unnecessary really, and interferes with centering the text
    li { float: none; }
  }
}


.alignleft, .alignright, .aligncenter {
  margin-bottom: 1.5em;
}
.alignleft, img.alignleft {
  margin-top: 4px;
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright, img.alignright {
  margin-top: 4px;
  display:inline;
  float: right;
  margin-left: 1em;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  text-align: center;
}

.entry-title {
  margin-bottom: 0;
}
.entry-meta {
  margin-bottom: 1.5em;
}
.entry-utility {
  clear: both;
}
.hentry + .hentry {
  margin-top: 3em;
}
.plusone-button {
  display: inline-block;
  margin-left: 5px;
}

.navigation {
  margin: 1.5em 0;
  overflow: auto;

  &#nav-above { display: none; }

  > .nav-previous {
    float: left;
  }

  > .nav-next {
    float: right;
  }
}

.post {
  clear: both;
}

#content {
  img {
    vertical-align: baseline;
  }

  hr {
    margin: 0.75em 0;
  }

  // add space after embedded Google charts
  script[src='//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js'] + div[id^='chart-'] {
    margin-bottom: 1.5em;
  }
}

.post-list {
  @include no-bullets;
  padding: 0;

  time {
    font-size: 90%;
    color: $base0;
  }
}

#openid-support {
  table {
    $border-color: $base2;

    border: 1px solid $border-color;
    border-collapse: collapse;

    th,td {
      border: 1px solid $border-color;

      &.openid_supported {
        background: $cyan;
        text-indent: -9999em;
      }
    }
  }
}


// Responsive Design

#wrapper {
  @include transition-property("margin");
  @include transition-duration(0.3s);
  margin: 0.5em;
}

@media (min-width: 480px) {
}
@media (min-width: 592px) {
  #header {
    > hgroup {
      .site-title {
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px solid $base3;
      }
      .site-description {
        display: inline;
      }
    }
  }
}
@media (min-width: 770px) and (min-height: 480px) {
  #wrapper {
    margin: 1.5em;
  }
}
@media (min-width: 1024px) {
}
