Options +Multiviews

<Files xrds.xml>
	ForceType application/xrds+xml
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine on

	RewriteRule ^photos/?(.*)? http://www.flickr.com/photos/wnorris/$1 [L,R]

    RewriteRule ^jeremiah/? http://wrangler.internetranch.net/~wnorris/jeremiah/ [L,R]
    RewriteRule ^contact /about/ [L,R]

	RewriteCond %{SERVER_PORT} !443
	RewriteCond %{REQUEST_URI} ^/(webmail.*) [NC]
	RewriteRule .* https://willnorris.com/%1 [L,R]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
