Options +Multiviews

<Files xrds.xml>
	ForceType application/xrds+xml
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine on

	RewriteRule ^photos/?(.*)? http://www.flickr.com/photos/wnorris/$1 [L,R]

    RewriteRule ^contact/?$ /about/ [L,R]

	RewriteRule ^tags/?(.*)? /tag/$1 [L,R]

	RewriteRule ^wordpress/?$ / [L,R]

	RewriteCond %{SERVER_NAME} !^willnorris.com$ [NC]
	RewriteRule (.*) http://willnorris.com/$1 [L,R]

#	RewriteCond %{HTTPS} off
#	RewriteCond %{REQUEST_URI} ^/(webmail.*) [NC,OR]
#	RewriteCond %{REQUEST_URI} ^/(phpmyadmin.*) [NC]
#	RewriteRule .* https://willnorris.com/%1 [L,R]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
