Options +Multiviews

ExpiresByType text/css "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"
ExpiresByType application/x-javascript "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/gif "access plus 1 week"
FileETag none

<Files xrds.xml>
	ForceType application/xrds+xml
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine on

	RewriteRule videos/shibboleth\+wordpress\.mov http://willnorris.blip.tv/file/1419563/ [L,R]

	RewriteRule ^photos/?(.*)? http://www.flickr.com/photos/wnorris/$1 [L,R]

    RewriteRule ^contact/?$ /about/ [L,R]

	RewriteRule ^tags/?(.*)? /tag/$1 [L,R]

	# Old Project Pages
	RewriteRule projects/wp-microid					http://wordpress.org/extend/plugins/microid/ [L,R]
	RewriteRule projects/wpopenid					http://wordpress.org/extend/plugins/openid/ [L,R]
	RewriteRule projects/wp-(openid|xrds|yadis)     http://wordpress.org/extend/plugins/openid/ [L,R]

	#RewriteCond %{SERVER_NAME} !^willnorris.com$ [NC]
	#RewriteRule (.*) http://willnorris.com/$1 [L,R]


#	RewriteCond %{HTTPS} off
#	RewriteCond %{REQUEST_URI} ^/(webmail.*) [NC,OR]
#	RewriteCond %{REQUEST_URI} ^/(phpmyadmin.*) [NC]
#	RewriteRule .* https://willnorris.com/%1 [L,R]
</IfModule>



# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN Shibboleth
AuthType Shibboleth
Require Shibboleth
# END Shibboleth
