/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	padding: 20px 0;
	padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
	.entry {
		margin-bottom: 40px;
		margin-bottom: 4rem;
		padding: 40px 0;
		padding: 4rem 0;
	}
}

.home-top {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding-top: 1em;

	h2 {
		font-size: 20px;
		font-size: 2rem;
		margin-bottom: 0;
	}

	p {
		margin: 5px 0;
		margin: 0.5rem 0;

		a {
			border-bottom: 1px solid #ddd;
			color: #e15144;
		}
	}

	.menu-social-container > .menu li {
		a::before {
			font-size: 28px;
			font-size: 2.8rem;
		}
	}
}

.entry.page {
	border: none;
}

.entry-content a {
	border-bottom: 1px solid #ddd;
	color: #e15144;
}


.entry-content a:hover {
	color: #333;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
	margin-bottom: 2.6rem;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
	margin-left: 4rem;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	color: #999;
	font-size: 16px;
	font-size: 1.6rem;
}

.entry-meta a {
	border-bottom: 1px solid #ddd;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
	margin: 0 0.6rem 0 0.2rem;
}

.entry-categories,
.entry-tags {
	display: block;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 16px;
	font-size: 1.6rem;
	margin: 40px 0;
	margin: 4rem 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	padding: 0.8rem 1.2rem;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #f15123;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.entry-comments {
	padding: 40px 0;
	padding: 4rem 0;
}

.comment-respond,
.entry-pings {
	padding: 40px 0 16px;
	padding: 4rem 0 1.6rem;
}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 100%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	margin-top: 2.4rem;
	padding: 32px;
	padding: 3.2rem;
}

.comment-list li li {
	margin-right: -32px;
	margin-right: -3.2rem;
}

li.comment, li.webmention {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment .avatar, .webmention .avatar {
	margin: 0 16px 24px 0;
	margin: 0 1.6rem 2.4rem 0;
}

.entry-pings .reply {
	display: none;
}

// highlight comments by the post author.  We need this crazy-long selector so
// that nested comments don't also get highlighted.
.bypostauthor > .h-entry > .comment-header > .comment-author > .avatar {
	border: 2px solid #e15144;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 24px;
	padding: 2.4rem;
}
