/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px 0;
	padding: 4rem 0;
	text-align: center;
}

.site-footer a {
	border-bottom: 1px solid #ddd;
}

.site-footer p {
	margin-bottom: 0;
}
