/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #333;
	color: #999;
	font-size: 13px;
	font-size: 1.3rem;
	padding: 13px 0;
	padding: 1.3rem 0;
	text-align: center;
}

.site-footer a {
	border-bottom: 1px solid #ddd;
}

.site-footer p {
	margin-bottom: 0;
}
