/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 700;
	padding: 16px 0;
	padding: 1.6rem 0;
	//width: 320px;
}

.header-image .title-area {
	padding: 0;
}

.site-title {
	display: inline-block;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 8px;
	margin: 0 0 0.8rem;
}

.site-title a,
.site-title a:hover {
	color: #333;
}

.site-title:after {
	content: '|';
	padding: 0 5px;
}

.site-description {
	color: #999;
	display: inline-block;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .site-title a {
	float: left;
	min-height: 164px;
	width: 100%;
}

/* Widget Area
--------------------------------------------- */

.widget-area {
	word-wrap: break-word;
}

.site-header .widget-area {
	float: right;
	text-align: right;
}

.header-image .site-header .widget-area {
	padding: 40px 0;
	padding: 4rem 0;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
	margin-top: 2.4rem;
}
