// typography settings
$blueprint-font-family: "Open Sans", sans-serif;
$alternate-text-font: "Alice", serif;
$blueprint-fixed-font-family: "Inconsolata", monospace;
$blueprint-font-size: 16px;

// blueprint liquid grid settings
//$blueprint-liquid-container-width: 90%;
//$blueprint-liquid-container-min-width: 200px;

