@import "blueprint";
@import "blueprint/debug";
@import "blueprint/fancy-type";
@import "compass/css3/transition";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";

@import "config";

@import url('//fonts.googleapis.com/css?family=Alice|Inconsolata|Open+Sans');

// reset
@import "blueprint/reset";

// additional reset for HTML5 elements
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  @include blueprint-basic-reset;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display:block;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction;

  // debug grid
  &.showgrid {
    $show-column-grid-backgrounds: false;
    $grid-background-baseline-color: rgba(0, 0, 0, 0.1);
    @include showgrid();
  }

  ul, ol {
    padding-left: 1.5em;
  }

  kbd {
    @include fixed-width-text;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


#{headers(all)} {
  font-family: "Alice";
  clear: both;
}

.skip-links { display: none; }

#wrapper {
  margin: 0 0.5em;
}

#header {
  > hgroup {
    > .site-title {
      font-size: 2.4em;
      line-height: 1.25;
      margin-bottom: 0;
    }

    > .site-description {
      font-size: 1.25em;
      font-style: italic;
      line-height: 1.25;
      margin-bottom: 1.25em;
    }
  }
}

#nav {
  clear: both;
  margin-bottom: 1.5em;

  > ul {
    @include horizontal-list;
    //text-align: center;
    // float is unnecessary really, and interferes with centering the text
    li { float: none; }
  }
}


.alignleft, .alignright, .aligncenter {
  margin-bottom: 1.5em;
}
.alignleft, img.alignleft {
  margin-top: 4px;
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright, img.alignright {
  margin-top: 4px;
  display:inline;
  float: right;
  margin-left: 1em;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  text-align: center;
}

.entry-title {
  margin-bottom: 0;
}
.entry-meta {
  margin-bottom: 1.5em;
}
.entry-utility {
  clear: both;
}
.hentry + .hentry {
  margin-top: 3em;
}
.plusone-button { 
  display: inline-block; 
  margin-left: 5px; 
}

.navigation {
  margin: 1.5em 0;
  overflow: auto;

  &#nav-above { display: none; }

  > .nav-previous {
    float: left;
  }

  > .nav-next {
    float: right;
  }
}

.post {
  clear: both;
}

#content {
  img {
    vertical-align: baseline;
  }

  hr {
    margin: 0.75em 0;
  }
}

#openid-support {
  table {
    $border-color: #ddd;

    border: 1px solid $border-color;
    border-collapse: collapse;

    th,td {
      border: 1px solid $border-color;

      &.openid_supported {
        background: #3c3;
        text-indent: -9999em;
      }
    }
  }
}


// Responsive Design

#wrapper {
  @include transition-property("margin");
  @include transition-duration(0.3s);
}

@media (min-width: 480px) {
}
@media (min-width: 592px) {
}
@media (min-width: 770px) and (min-height: 480px) {
  #wrapper {
    margin: 1.5em;
  }
}
@media (min-width: 1024px) {
}
